{{define "content"}}
<div class="container">
    <div class="about">
            <h3>Proximamente</h3>
            <div>
                <h4>Que es esto?</h4>
                <p>Esta pagina provee un API REST con informacion acerce de cada Pokemon. Usando esta pagina tu puedes obtener cada uno de los Pokemon que hay, sus evoluciones, los tipos y mas.</p>
            </div>  
            <div>
                <h4>Quien hizo esto?</h4>
            </div>
            <div>
                <h4>Que informacion se puede obtener?</h4>
            </div>
            <div>
                <h4>Que tecnologias se usaron?</h4>
            </div>
            <div>
                <p>
                    Toda la informacion de pokemon, sus nombres e imagenes pertenecen a Pokemon, esto solo es una pagina donde se desarrollo un API REST a modo de practica, todo esto se hace sin ningun animo de lucro.
                </p>
            </div>
        </div>
    </div>
{{end}}