{{define "content"}}
    <div class="home">
        <div>
            <h1 class="text-center title-pokedex"><strong>Pokedex API</strong></h1>
        </div>
        
        <div class="container-pokeball">
            <img src="/static/images/Pokeball.svg" width="250">
            <form class="center-pokeball" action="/pokemon/random" method="get">
                <button></button>
            </form>
        </div>
    
        <div class="text-center link-home">
            <div>
                <a href="/about">Acerca</a>
            </div>
            <div>
                <a href="/docs">Documentacion</a>
            </div>
        </div>
    </div>    
{{end}}